/Quackstagram_Code.iml
/out/production/Quackstagram_Code/.idea/.gitignore
/out/production/Quackstagram_Code/.idea/misc.xml
/out/production/Quackstagram_Code/.idea/modules.xml
/out/production/Quackstagram_Code/.idea/vcs.xml
/out/production/Quackstagram_Code/data/credentials.txt
/out/production/Quackstagram_Code/data/following.txt
/out/production/Quackstagram_Code/data/notifications.txt
/out/production/Quackstagram_Code/data/users.txt
/out/production/Quackstagram_Code/img/dummy/logo.png
/out/production/Quackstagram_Code/img/dummy/PHS.jpg
/out/production/Quackstagram_Code/img/icons/add.png
/out/production/Quackstagram_Code/img/icons/heart.png
/out/production/Quackstagram_Code/img/icons/home.png
/out/production/Quackstagram_Code/img/icons/profile.png
/out/production/Quackstagram_Code/img/icons/search.png
/out/production/Quackstagram_Code/img/logos/DACS.png
/out/production/Quackstagram_Code/img/storage/profile/Lorin.png
/out/production/Quackstagram_Code/img/storage/profile/Mystar.png
/out/production/Quackstagram_Code/img/storage/profile/www.png
/out/production/Quackstagram_Code/img/storage/profile/Xylo.png
/out/production/Quackstagram_Code/img/storage/profile/Zara.png
/out/production/Quackstagram_Code/img/uploaded/Lorin_1.png
/out/production/Quackstagram_Code/img/uploaded/Lorin_2.png
/out/production/Quackstagram_Code/img/uploaded/Mystar_1.png
/out/production/Quackstagram_Code/img/uploaded/Mystar_2.png
/out/production/Quackstagram_Code/img/uploaded/Nisrine_1.png
/out/production/Quackstagram_Code/img/uploaded/Nisrine_10.jpeg
/out/production/Quackstagram_Code/img/uploaded/Nisrine_11.jpeg
/out/production/Quackstagram_Code/img/uploaded/Xylo_1.png
/out/production/Quackstagram_Code/img/uploaded/Xylo_2.png
/out/production/Quackstagram_Code/img/uploaded/Zara_1.png
/out/production/Quackstagram_Code/img/uploaded/Zara_2.png
/out/production/Quackstagram_Code/img/image_details.txt
/out/production/Quackstagram_Code/ExploreManager.class
/out/production/Quackstagram_Code/ExploreUI$1.class
/out/production/Quackstagram_Code/ExploreUI.class
/out/production/Quackstagram_Code/ImageLikesManager.class
/out/production/Quackstagram_Code/ImageUploadManager.class
/out/production/Quackstagram_Code/ImageUploadUI.class
/out/production/Quackstagram_Code/InstagramProfileUI$1.class
/out/production/Quackstagram_Code/InstagramProfileUI.class
/out/production/Quackstagram_Code/NotificationsUI.class
/out/production/Quackstagram_Code/Picture.class
/out/production/Quackstagram_Code/Quackstagram_Code.iml
/out/production/Quackstagram_Code/QuackstagramHomeManager.class
/out/production/Quackstagram_Code/QuakstagramHomeUI$1.class
/out/production/Quackstagram_Code/QuakstagramHomeUI$2.class
/out/production/Quackstagram_Code/QuakstagramHomeUI$3.class
/out/production/Quackstagram_Code/QuakstagramHomeUI.class
/out/production/Quackstagram_Code/SignInUI.class
/out/production/Quackstagram_Code/SignUpUI$1.class
/out/production/Quackstagram_Code/SignUpUI$2.class
/out/production/Quackstagram_Code/SignUpUI.class
/out/production/Quackstagram_Code/User.class
/out/production/Quackstagram_Code/UserRelationshipManager.class
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
